body {
	width: 50%;
	max-width: 80ch;
	margin: 5em auto;
	background: #000000;
	color: #dddddd;
	font-family: "Ubuntu Mono", monospace, serif;
	font-size: 1em;
	tab-size: 4;
}

@media (orientation: portrait) {
	body {
		width: unset;
		margin: 5em 3em;
	}
}

/* titles */

h1, h2, h3, h4, h5, h6 {
	color: #d81b60;
	font-weight: normal;
	line-height: 1.2;
}

/* text */

section p::before {
	content: "→   ";
	color: #d81b60;
	white-space: pre;
}

section p {
	text-align: justify;
	line-height: 1.6;
}

a {
	color: #d81b60;
	text-decoration: none;
}

/* lists */

ul {
	padding-left: 2ch;
	list-style: none;
}

ul li::before {
	content: "→ ";
	color: #d81b60;
}

ul.todo::after {
	content: "  ...";
	color: #999999;
	display: block;
	white-space: pre;
}

ul.todo li:not(.checked)::after {
	content: " (planned)";
	color: #999999;
	font-style: italic;
}

/* footer */

footer {
	margin: 1em 0;
}

footer hr {
	width: 100%;
	height: 1px;
	margin: 0;
	padding: 0;
	background: #d81b60;
	border: none;
}

.copyright {
	padding: 0 4ch;
	display: flex;
	justify-content: space-between;
}

footer a {
	color: #999999 !important;
	font-style: italic;
}

/* code */

pre {
	font-family: "Ubuntu Mono", monospace !important;
}

pre .comment { color: #999999; font-style: italic; }
pre .keyword { color: #16a085; }
pre .value   { color: #2ecc71; }
